html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
	-webkit-text-size-adjust: 100%;
}

* {
	font-variant-ligatures: none;
}


a {
	text-decoration: none;
	color: inherit;
}


.fs0 {
	font-size: 0; letter-spacing: 0 !important;
}
.fs1 {
	font-size: 32px;
}
.fs2 {
	font-size: 24px;
}
.fs3 {
	font-size: 18px;
}
.fs4 {
	font-size: 16px;
}
.fs5 {
	font-size: 14px;
	@media (max-width: @resp-lg) {
		font-size: 11px; 
	}
}
.fs6 {
	font-size: 12px;
}

